<!--This is the navbar that will appear at the top of every page. You can make new .html pages by adding them to the content folder. -->

<div id='navbar'>
  <div class="logo"><img src='/images/navbarlogo.svg'></div>
  <ul>
    <li id="home"><a href="/index.html">HOME</a></li>
    <li id="project">
      <a href="#">PROJECT</a>
      <ul>
        <li><a href="/Description.html">Description</a></li>
        <li><a href="/Engineering.html">Engineering</a></li>
        <li><a href="/Model.html">Model</a></li>
        <li><a href="/Measurement.html">Measurement</a></li>
        <li><a href="/Implementation.html">Implementation</a></li>
        <li><a href="/Proof_Of_Concept.html">Proof of concept</a></li>
      </ul>
    </li>
    <li id="parts">
      <a href="#">PARTS</a>
      <ul>
        <li><a href="/Parts.html">Parts</a></li>
        <li><a href="/Contribution.html">Contribution</a></li>
        <li><a href="/Improvement.html">Improvement</a></li>
      </ul>
    </li>
    <li id="hp">
      <a href="#">HUMAN PRACTICES</a>
      <ul>
        <li><a href="/Human_Practices.html">Human Practices</a></li>
        <li><a href="/Education.html">Education</a></li>
        <li><a href="/Excellence.html">Excellence</a></li>
      </ul>
    </li>
    <li id="team">
      <a href="#">TEAM</a>
      <ul>
        <li><a href="/Team.html">Members</a></li>
        <li><a href="/Attributions.html">Attributions</a></li>
        <li><a href="/Collaborations.html">Collaborations</a></li>
      </ul>
    </li>
    <li><a href="/Safety.html">SAFETY</a></li>
  </ul>
</div>