<div class="mobileNav">
  <ul>
    <li><a class="topList" href="/index.html">HOME</a></li>
    <li><a class="topList downList projTop">PROJECT</a></li>
    <li class="proj item"><a href="/Description.html">Description</a></li>
    <li class="proj item"><a href="/Engineering.html">Engineering</a></li>
    <li class="proj item"><a href="/Model.html">Model</a></li>
    <li class="proj item"><a href="/Measurement.html">Measurement</a></li>
    <li class="proj item"><a href="/Implementation.html">Implementation</a></li>
    <li class="proj item"><a href="/Proof_Of_Concept.html">Proof of Concept</a></li>
    <li><a class="topList downList partsTop"> PARTS</a></li>
    <li class="parts item"><a href="/Parts.html">Parts</a></li>
    <li class="parts item"><a href="/Contribution.html">Contribution</a></li>
    <li class="parts item"><a href="/Improvement.html">Improvement</a></li>
    <li><a class="topList downList huPrTop">HUMAN PRACTICES</a></li>
    <li class="huPr item"><a href="/Human_Practices.html">Human Practices</a></li>
    <li class="huPr item"><a href="/Education.html">Education</a></li>
    <li class="huPr item"><a href="/Inclusion.html">Inclusion</a></li>
    <li><a class="topList downList teTop">TEAM</a></li>
    <li class="te item"><a href="/Team.html">Members</a></li>
    <li class="te item"><a href="/Attributions.html">Attributions</a></li>
    <li class="te item"><a href="/Collaborations.html">Collaborations</a></li>
    <li><a class="topList" href="/Safety.html">SAFETY</a></li>
  </ul>
</div>